@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
    /* outline: 1px solid red; */
}

body {
    background-color: #ffffff;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #64748b;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f8fafc;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f8fafc;
    border-radius: 10px;
}
